.container {
  width: 300px;
  height: 150px;
  background-color: royalblue;
  background-image: url("https://heropy.blog/css/images/logo.png");
  background-size: 100px;
  background-repeat: no-repeat;
  background-position: center center;
}